---
// src/pages/index.astro
import BuyComponent from '../components/Buying/buy.jsx';
import CommentSection from '../components/Buying/CommentSection.tsx';
import ProductRecommendations from 'src/components/Buying/ProductRecommendations';
---

<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detail Produk</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet" />
  </head>
  <body>
    <BuyComponent client:load />


    <!-- Mau nampilin data lokal komen user = false -->
    <!-- gaMau nampilin data lokal komen user dan hapus semua data komen lokal user = true -->
    <CommentSection client:load clearOnMount={true} />  
    
    <ProductRecommendations client:load />
  </body>
</html>