---
import BuyingPageComponent from "../BuyingPage/BuyingPage.astro";
import NavbarSwitcher from "../components/NavbarSwitcher.tsx";
import LandingPageLayout from "../layouts/LandingPageLayout.astro";
---

<LandingPageLayout title="Detail Produk" description="Halaman detail produk">
  <NavbarSwitcher client:load />
  <main class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-4">

    <BuyingPageComponent />
  </main>
</LandingPageLayout>
