---
import BuyingPageComponent from "../BuyingPage/BuyingPage.astro"
import Navbar from "../LandingPage/components/Header.astro"
import LandingPageLayout from "../layouts/LandingPageLayout.astro";
---

<LandingPageLayout>
  <Navbar />
  <main class="">
    <BuyingPageComponent />
  </main>
</LandingPageLayout>