---
import ConsultantPage from '../../Home/Consultanthomepage/ConsultantHomePage.tsx';
import Navbar from "../LandingPage/components/Header.astro";
import LandingPageLayout from "../layouts/LandingPageLayout.astro";
---

<LandingPageLayout>
  <Navbar />
  <main class="min-h-screen pt-20">
    <ConsultantPage client:load />
  </main>
</LandingPageLayout>
  
