---
import Navbar from "../LandingPage/components/Header.astro";
import LandingPageLayout from "../layouts/LandingPageLayout.astro";
import ConsultantBookingPage from "../components/Consultant/ConsultantBookingPage";
---

<LandingPageLayout title="Booking Konsultasi - UMKMotion">
  <Navbar />
  <main class="min-h-screen pt-20">
    <ConsultantBookingPage client:load />
  </main>
</LandingPageLayout>
