---
import DetailProdukComponent from "src/DetailProduk/DetailProduk.astro";
import Navbar from "../LandingPage/components/Header.astro"
import LandingPageLayout from "../layouts/LandingPageLayout.astro";
---

<LandingPageLayout>
  <Navbar />
  <main class="">
    <DetailProdukComponent />
  </main>
</LandingPageLayout>