---
import EtalaseComponent from "../Etalase/Etalase.astro";
import LandingPageLayout from "../layouts/LandingPageLayout.astro";
import NavbarSwitcher from "../components/NavbarSwitcher.tsx";
---

<LandingPageLayout>
  <NavbarSwitcher client:load />
  <main class="min-h-screen pt-20">
    <EtalaseComponent />
  </main>
</LandingPageLayout>