---
import Layout from '../layouts/HomepageLayout.astro';
import NavbarHome from '../../Home/NavbarHome/NavbarHome.tsx';;
import { getAdminAuth } from '../lib/firebaseAdmin';

export const prerender = false;

import "../styles/global.css";

// Temporarily disable SSR auth guard - rely on client-side auth
// const sessionCookie = Astro.cookies.get('session')?.value;
// Will be handled by client-side Firebase auth in the component
---

<Layout title="UMKMotion - Home" description="Beranda UMKMotion">
  <NavbarHome slot="header" client:load />
  
  <main style="margin-top: 80px;">

  </main>
</Layout>
