

---
import TokoComponent from "src/Toko/toko.astro";
import Navbar from "../LandingPage/components/Header.astro"
import LandingPageLayout from "../layouts/LandingPageLayout.astro";
---


<main class="">
    <TokoComponent />
  </main>
