---
import TokoComponent from "src/Toko/toko.astro";
import Navbar from "src/LandingPage/components/Navbar.astro";
import LandingPageLayout from "src/layouts/LandingPageLayout.astro";
---

  <main class="">
    <TokoComponent />
  </main>
