---
import VerifikasiPage from '../Forgot/VerifikasiPage.tsx';
---

<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Verifikasi Password - UMKM Motion</title>
  </head>
  <body>
    <VerifikasiPage client:only="react" />
  </body>
</html>
