---

---

<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
    <body>
        <div class="background">
            <h1>Etalase</h1>
            <div class="promotion-banner">
                <img src="/asset/umkm/umkm5.jpg" alt="" >
            </div>

            <div class="header">
                <h1>Temukan Produkmu, Sekarang Juga!</h1>
                <div class="header-card">
                    <div class="header-content">

                        <!-- Search Sectiuon -->
                        <div class="search-card">
                            <div class="search-item">
                                <div class="filter-item">
                                    <input type="text" placeholder="Cari produk..." />
                                    <button>Cari</button>
                                </div>

                                <div class="sort-item">
                                    <p>Filter produk</p>
                                        <button>Elektronik</button>
                                        <button>Kuliner</button>
                                        <button>Fashion & Aksesoris</button>
                                        <button>Seni & Musik</button>
                                        <button>Otomotif</button>
                                        <button>Interior Rumah</>
                                        <button>Olahraga</button>
                                </div>
                            </div>
                        </div>

                        <div class="sell-promotion">
                            <div class="sell-section">
                                <h3>Ingin Jualan di Sini?</h3>
                                <p>Gabung bersama kami dan kembangkan bisnismu dengan mudah!</p>
                                <button>Daftar Sekarang</button>
                            </div>
                        </div>

                    <div class="product-list">
                        <div class="product-item">
                            <img src="" alt="">
                            <h3>Produk 1</h3>
                            <p>Deskripsi singkat produk 1.</p>
                            <span>Rp 100.000</span>
                        </div>

                        <div class="product-item">
                            <img src="" alt="">
                            <h3>Produk 2</h3>
                            <p>Deskripsi singkat produk 2.</p>
                            <span>Rp 150.000</span>
                        </div>

                        <div class="product-item">
                            <img src="" alt="">
                            <h3>Produk 3</h3>
                            <p>Deskripsi singkat produk 3.</p>
                            <span>Rp 200.000</span>
                        </div>

                        <div class="product-item">
                            <img src="" alt="">
                            <h3>Produk 4</h3>
                            <p>Deskripsi singkat produk 4.</p>
                            <span>Rp 250.000</span>

                    </div>

                    </div>
                </div>
            </div>

            <div class="product">
                <div class="product-card"></div>
            </div>
        </div>

        <script></script>

        <style>
            
        </style>
    </body>
</html>