<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
    <body>
        <div class="background">
            <div class="header">
                <div class="header-card">
                    <div class="header-content">

                    </div>
                </div>
            </div>

            <div class="product">
                <div class="product-card"></div>
            </div>
        </div>

        <script></script>

        <style>
            
        </style>
    </body>
</html>