---
// Astro wrapper for ProductGallery component
import ProductGalleryComponent from './productgallery/ProductGallery.tsx';
---

<div data-product-gallery>
  <ProductGalleryComponent client:visible />
  
  <style>
    /* minimal container to avoid layout shift */
    [data-product-gallery] { display: block; width: 100%; }
  </style>
</div>
